<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Registration</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/assets/css/custom.css">

</head>
<body>

    <main>

        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <!--<a href="https://www.freepik.com/free-vector/vacant-job-promo-with-join-us-message_13762396.htm#query=join%20us&position=36&from_view=search&track=sph">Image by pikisuperstar</a> on Freepik -->
                    <img src="../static/assets/images/5330999.jpg" alt="Register" width="600" height="500">
                </div>
                <div class="col-md-10 mx-auto col-lg-5">

                    <form method="post" action="" class="p-4 p-md-5 border rounded-3 bg-light">

                        {{ form.hidden_tag() }}

                        <p class="fw-bold">
                            {% if msg %}
                                {{ msg | safe }}
                            {% else %}
                                Add your credentials
                            {% endif %}
                        </p>

                        <br />

                        <div class="form-floating mb-3">
                            {{ form.firstname(class="form-control") }}
                            <label for="floatingInput">Firstname</label>
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.lastname(class="form-control") }}
                            <label for="floatingInput">Lastname</label>
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.username(class="form-control") }}
                            <label for="floatingInput">Username</label>
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.email(class="form-control") }}
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password(class="form-control", type="password") }}
                            <label for="floatingPassword">Password</label>
                        </div>
                        <br />
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="agree-terms"> Agree terms & conditions
                            </label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign UP</button>
                        <hr class="my-4">
                        <small class="text-muted">
                            Already have an account? <a href="{{ url_for('login') }}" class="text-right">Login</a>
                        </small>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>